/build
/tmp
/.vagrant
/debian/files
/debian/debhelper-build-stamp
/debian/jenkins-job-manager
/debian/jenkins-job-manager.substvars
/documentation/man/*.1
/.scannerwork
/dist
/.coverage
/.cache
/.tox
/.pytest_cache
/.mypy_cache
*.egg-info
*.pyc
